/* Загальні стилі */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ff5722;
}

.block {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input {
    margin-bottom: 10px;
}

.messages {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffeb3b;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    display: none; /* Ховаємо повідомлення за замовчуванням */
}

/* Стиль кнопки */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e64a19;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Адаптивність */
@media (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }
}
